@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.gradienteHeader {
  background: #379637;
  background: -webkit-gradient(linear, left top, right top, color-stop(10%, #379637), color-stop(20%, #308430), color-stop(35%, #297129), color-stop(65%, #297129), color-stop(90%, #225e22));
  background: linear-gradient(90deg, #379637 10%, #308430 20%, #297129 35%, #297129 65%, #225e22 90%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#379637", endColorstr="#225e22", GradientType=1);
}

h1 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 2;
}

h2 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 200;
  font-size: 1.4rem;
  line-height: 1.5;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 2;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 200;
  line-height: 1.5;
}

h6 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 400;
  line-height: 1.4;
}

.divP {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 200;
  font-size: 1.1rem;
  line-height: 0.75;
}

.bordesRedondos {
  border-radius: 3%;
}

.bordesRedondos__modal {
  border-radius: 3%;
  margin-bottom: 5%;
}

.italica {
  font-style: italic;
  text-align: left;
}

.negrita {
  font-weight: bold;
}

.padding {
  padding-top: 1.5%;
  padding-bottom: 2.5%;
  padding-left: 3%;
  padding-right: 3%;
}

.padding__mainText {
  padding-top: 1.5%;
  padding-bottom: 0%;
  padding-left: 3%;
  padding-right: 3%;
}

@media only screen and (max-width: 1050px) {
  .padding {
    padding-top: 0%;
    padding-bottom: 5%;
    padding-left: 3%;
    padding-right: 3%;
  }
}

@media only screen and (max-width: 768px) {
  .padding {
    padding-top: 5%;
    padding-bottom: 8%;
    padding-left: 3%;
    padding-right: 3%;
  }
}

#videoDeFondo {
  width: 500px;
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
}

#pieDePagina {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 300;
  font-size: 1rem;
  text-decoration: none;
  text-align: initial;
  letter-spacing: 1px;
  background-color: #297129;
}

main {
  padding: 0rem;
}

/*/ Slideshow /*/
.carousel-caption {
  font-family: "Source Sans Pro", sans-serif;
}

.carousel-caption__p {
  color: white;
  font-weight: 600;
  font-size: 2.4rem;
  text-decoration: none;
}

.carousel-caption__p :hover {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-weight: 600;
  font-size: 2.4rem;
}

.carousel-caption__px {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  font-weight: 400;
  font-size: 1.4rem;
}

@media only screen and (max-width: 768px) {
  .carousel-caption {
    font-family: "Source Sans Pro", sans-serif;
  }
  .carousel-caption__p {
    color: white;
    font-weight: 600;
    font-size: 1.8rem;
    text-decoration: none;
  }
  .carousel-caption__p :hover {
    color: white;
    text-shadow: 2px 2px 2px black;
    font-weight: 600;
    font-size: 1.8rem;
  }
  .carousel-caption__px {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 400;
    font-size: 1.1rem;
  }
}

/*/ Custom Buttons /*/
.btn-primary {
  background-color: #379637;
  border-color: #379637;
  margin-top: 3%;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
  background-color: #297129;
  border-color: #297129;
  margin-top: 3%;
}

/*/ text over image /*/
.textCombo {
  position: relative;
  bottom: 0.3rem;
  left: 50%;
  padding-top: 0.7rem;
  padding-bottom: 0.25rem;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  color: yellow;
  text-shadow: 0.5px 0.75px 1px black;
  font-weight: 600;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__sub {
  position: relative;
  left: 50%;
  padding-bottom: 0.75rem;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  color: white;
  text-shadow: 0.5px 0.75px 1px black;
  font-weight: 600;
  font-size: 1.9rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__precio {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, 0%);
          transform: translate(-50%, 0%);
  color: yellow;
  text-shadow: 1px 1px 2px black;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__modalMain {
  position: relative;
  bottom: 1.25rem;
  left: 50%;
  padding-top: 1.5rem;
  padding-bottom: 0.25rem;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  color: yellow;
  text-shadow: 0.5px 0.75px 1px black;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__modalSub {
  position: relative;
  left: 50%;
  padding-bottom: 1.75rem;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  color: white;
  text-shadow: 0.5px 0.75px 1px black;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__modalFecha {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -55%);
          transform: translate(-50%, -55%);
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__modalMainCombos {
  position: relative;
  bottom: 15.2rem;
  left: 50%;
  -webkit-transform: translate(-50%, -70%);
          transform: translate(-50%, -70%);
  color: yellow;
  text-shadow: 0.5px 0.75px 1px black;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__modalSubCombos {
  position: relative;
  left: 50%;
  padding-bottom: 10rem;
  -webkit-transform: translate(-50%, -150%);
          transform: translate(-50%, -150%);
  color: white;
  text-shadow: 0.5px 0.75px 1px black;
  font-weight: 600;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__modalFechaCombos {
  position: relative;
  left: 50%;
  -webkit-transform: translate(-50%, -740%);
          transform: translate(-50%, -740%);
  color: white;
  text-shadow: 1px 1px 2px black;
  font-weight: 800;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
}

.textCombo__textDiv {
  font-family: "Source Sans Pro", sans-serif;
  position: absolute;
  right: 15%;
  left: 15%;
  padding-top: 2rem;
  color: #fff;
  text-align: center;
}

.textCombo__textModal {
  font-family: "Source Sans Pro", sans-serif;
  position: absolute;
  right: 15%;
  left: 15%;
  padding-top: 2rem;
  color: #fff;
  text-align: center;
  bottom: 1.25rem;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
}

/*/ Margenes footer /*/
.marginFooter {
  margin-top: 4rem;
  padding-left: 5%;
}

@media only screen and (max-width: 768px) {
  .marginFooter {
    margin-top: 1.5rem;
    padding-left: 0%;
  }
}

/*/ Formularios /*/
.register {
  background: -webkit-linear-gradient(left, #379637, #297129);
  margin-top: 3%;
  padding: 3%;
}

.register__form {
  padding: 10%;
  margin-top: 10%;
}

.register__heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #495057;
}

/* Continuidad clases registro */
.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}

.btnRegister {
  float: right;
  margin-top: 10%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #297129;
  color: #fff;
  font-weight: 600;
  width: 50%;
  cursor: pointer;
}

.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #297129;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}

.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.register .nav-tabs .nav-link:hover {
  border: none;
}

.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #383d41;
  border: 2px solid #297129;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}

/*animacion logo registro */
.regimg {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 75%;
  -webkit-animation: mover 2s infinite  alternate;
  animation: mover 1s infinite  alternate;
}

@-webkit-keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes mover {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

.register {
  background: -webkit-linear-gradient(left, #379637, #297129);
  margin-top: 3%;
  padding: 3%;
  margin-bottom: 3%;
}

.register__register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}

.register__register-left--button {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 30%;
  margin-bottom: 3%;
  cursor: pointer;
}

.register__register-left--p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
  color: white;
}

.register__register-left--h2 {
  font-weight: 400;
  padding: 12%;
  margin-top: -9%;
  color: white;
}

/*/ Ofertas /*/
.ofertasHome {
  font-family: "Source Sans Pro", sans-serif;
  display: -ms-grid;
  display: grid;
  margin-top: -1.5rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.ofertasHome__grid {
  display: -ms-grid;
  display: grid;
  height: auto;
  grid-gap: 1rem;
  grid-column-gap: 25px;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.ofertasHome__sectionOfertas {
  font-family: "Source Sans Pro", sans-serif;
}

.ofertasHome__combosDiv {
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ofertasHome__ofertasHijo {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 200;
  padding: 7px 9px 7px 9px;
  display: inline-block;
  margin: 30px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
}

.ofertasHome__ofertasInterno {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: -1rem;
  position: relative .ofertasHome__ofertasInterno --bordesRedondos;
  position-border-radius: 5%;
}

.sectionCombos {
  font-family: "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.sectionCombos__grid {
  display: -ms-grid;
  display: grid;
  height: auto;
  grid-gap: 1rem;
  grid-column-gap: 100px;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
}

.combos {
  font-family: "Source Sans Pro", sans-serif;
  width: 20%;
}

.combos__combosDiv {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.combos__Hijo {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 200;
  padding: 7px 9px 7px 9px;
  display: -ms-grid;
  display: grid;
  margin: 30px 20px 20px 20px;
  background: rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
}

.combos__interno {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.combos__interno--imagen {
  border-radius: 5%;
}

.sectionFull {
  font-family: "Source Sans Pro", sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sectionFull__Principal {
  font-family: "Source Sans Pro", sans-serif;
  width: 40%;
}

.sectionFull__Info {
  font-family: "Source Sans Pro", sans-serif;
  width: 60%;
}

/*/ Alt. SASS II /*/
.combosSass {
  font-family: "Source Sans Pro", sans-serif;
  width: 20%;
}

.combosSass__combosSassDiv {
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.combosSass__Hijo-1 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 600;
  padding: 7px 9px 7px 9px;
  display: -ms-grid;
  display: grid;
  margin: 30px 20px 20px 20px;
  background: #7cd17c;
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
}

.combosSass__Hijo-2 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 100;
  padding: 7px 9px 7px 9px;
  display: -ms-grid;
  display: grid;
  margin: 30px 20px 20px 20px;
  background: #96db96;
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
}

.combosSass__Hijo-3 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 800;
  padding: 7px 9px 7px 9px;
  display: -ms-grid;
  display: grid;
  margin: 30px 20px 20px 20px;
  background: #1fec1f;
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
}

.combosSass__Hijo-4 {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  font-weight: 66.66667;
  padding: 7px 9px 7px 9px;
  display: -ms-grid;
  display: grid;
  margin: 30px 20px 20px 20px;
  background: #ced6e7;
  -webkit-box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
          box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.534);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;
}

.combosSass__interno {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  display: -ms-inline-grid;
  display: inline-grid;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-align: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.combosSass__interno--imagen {
  border-radius: 5%;
}

/*/ Sección Envios /*/
.gridEnvios {
  display: -ms-grid;
  display: grid;
  gap: 1em 1em;
  padding-top: 1.5%;
  padding-bottom: 0%;
  padding-left: 3%;
  padding-right: 3%;
  grid-auto-flow: row;
      grid-template-areas: "Info-envios Imagen-Campo-Market" "Info-envios-2 Mapa";
  justify-items: center;
}

.gridEnvios__infoEnvios {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: Info-envios;
}

.gridEnvios__campoMarketBrandingEnvios {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: Imagen-Campo-Market;
}

.gridEnvios__infoEnvios2 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: Info-envios-2;
}

.gridEnvios__mapaCobertura {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: Mapa;
  display: -ms-grid;
  display: grid;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  padding-bottom: 28%;
  position: relative;
  height: 250px;
}

.gridEnvios__mapaCobertura iframe {
  left: 0;
  top: 0;
  width: 70vw;
  height: 300%;
  position: relative;
  border: 1px solid #cecece;
  max-width: 100%;
}

.gridEnvios__descripcionEnvios {
  font-family: "Source Sans Pro", sans-serif;
  color: black;
  letter-spacing: 1px;
  font-weight: 400;
  line-height: 1.5;
}

/* Transformaciones */
.logoCampoMarket {
  height: 100px;
  width: 100vw;
  -webkit-transition: 2s;
  transition: 2s;
}

.logoCampoMarket:hover {
  height: 120px;
  width: 100vw;
}

.menuTransicion {
  width: 50px;
  height: 50px;
  -webkit-transition: height 2s, width 1s;
  transition: height 2s, width 1s;
}

.menuTransicion:hover {
  height: 60px;
  width: 60px;
}

/* Slideshow */
.carousel {
  margin-left: 0%;
  margin-right: 0%;
  margin-top: 2%;
}

.slideSize {
  height: 50vh;
  -o-object-fit: cover;
     object-fit: cover;
}

@media only screen and (max-width: 768px) {
  .slideImageTablet img {
    width: auto;
    min-width: 40%;
    height: 40%;
  }
}

@media only screen and (max-width: 320px) {
  .slideImageMobile img {
    width: auto;
    min-width: 15%;
    height: 15%;
  }
}
/*# sourceMappingURL=main.css.map */