/*/ Sección Envios /*/ 


.gridEnvios {
    display: grid;
    gap: 1em 1em;
    padding: 3%;
    grid-auto-flow: row;
    grid-template-areas:
        "Info-envios Imagen-Campo-Market"
        "Info-envios-2 Mapa";
        justify-items: center;
    &__infoEnvios {
        grid-area: Info-envios;
    }
    &__campoMarketBrandingEnvios {
        grid-area: Imagen-Campo-Market;
    }
    &__infoEnvios2 {
        grid-area: Info-envios-2;
    }
    &__mapaCobertura {
        grid-area: Mapa;
        display:grid;
        justify-content: center;
        overflow: hidden;
        padding-bottom:28%;
        position:relative;
        height: 250px;
        iframe {
            left: 0;
            top: 0;
            width: 70vw;
            height: 300%;
            position: relative;
            border: 1px solid #cecece;
            max-width: 100%;
        }
    }
    &__descripcionEnvios{
        font-family: "Source Sans Pro", sans-serif;
        color: black;
        letter-spacing: 1px;
        font-weight: 400;
        line-height: 1.5;
    }
    }
    
