/*/ Sección Envios /*/ 


.gridEnvios {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 1em 1em;
    padding: 3%;
    grid-auto-flow: row;
    grid-template-areas:
        "Info-envios Imagen-Campo-Market"
        "Info-envios-2 Mapa";
        justify-items: center;
    &__infoEnvios {
        grid-area: Info-envios;
    }
    &__campoMarketBrandingEnvios {
        grid-area: Imagen-Campo-Market;
    }
    &__infoEnvios2 {
        grid-area: Info-envios-2;
    }
    &__mapaCobertura {
        grid-area: Mapa;
    }
    &__descripcionEnvios{
        font-family: "Source Sans Pro", sans-serif;
        color: black;
        letter-spacing: 1px;
        font-weight: 400;
        line-height: 1.5;
    }
    }