

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.gradienteHeader {
    background: rgb(55, 150, 55);
    background: -moz-linear-gradient(90deg, rgba(55, 150, 55, 1) 10%, rgba(48, 132, 48, 1) 20%, rgba(41, 113, 41, 1) 35%, rgba(41, 113, 41, 1) 65%, rgba(34, 94, 34, 1) 90%);
    background: -webkit-linear-gradient(90deg, rgba(55, 150, 55, 1) 10%, rgba(48, 132, 48, 1) 20%, rgba(41, 113, 41, 1) 35%, rgba(41, 113, 41, 1) 65%, rgba(34, 94, 34, 1) 90%);
    background: linear-gradient(90deg, rgba(55, 150, 55, 1) 10%, rgba(48, 132, 48, 1) 20%, rgba(41, 113, 41, 1) 35%, rgba(41, 113, 41, 1) 65%, rgba(34, 94, 34, 1) 90%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#379637", endColorstr="#225e22", GradientType=1);
}


h1 {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    font-weight: 600;
    font-size: 1.7rem;
    line-height: 2;
}

h2 {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    font-weight: 200;
    font-size: 1.4rem;
    line-height: 1.5;
}

h3 {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 2;
}

h4 {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    font-weight: 200;
    line-height: 1.5;
}

h6 {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    font-weight: 400;
    line-height: 1.4;
}

.divP {
    font-family: "Source Sans Pro", sans-serif;
    color: black;
    font-weight: 200;
    font-size: 1.1rem;
    line-height: 0.75;
}

.bordesRedondos {
    border-radius: 3%;
&__modal {
    border-radius: 3%;
    margin-bottom: 5%;
}
}

.italica {
    font-style: italic;
    text-align: left;
}

.negrita {
    font-weight: bold;
}

.padding{
    padding-top: 1.5%;
    padding-bottom: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
}
@media only screen and (max-width: 1050px) {
    .padding {
        padding-top: 0%;
        padding-bottom: 5%;
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media only screen and (max-width: 768px) {
    .padding {
        padding-top: 0%;
        padding-bottom: 8%;
        padding-left: 3%;
        padding-right: 3%;
    }
}

#videoDeFondo {
    width: 500px;
    height: 500px;
    object-fit: cover;
}

#pieDePagina {
    font-family: "Source Sans Pro", sans-serif;
    color: white;
    font-weight: 300;
    font-size: 1rem;
    text-decoration: none;
    text-align: initial;
    letter-spacing: 1px;
    background-color:#297129;
}

main {
    padding: 0rem;
}

/*/ Slideshow /*/

.carousel-caption {
    font-family: "Source Sans Pro", sans-serif;
    &__p {
        color:white;
        font-weight: 600;
        font-size: 2.4rem;
        text-decoration:none;
        :hover {
            color:white;
            text-shadow: 2px 2px 2px black;
            font-weight: 600;
            font-size: 2.4rem;
        }
    }
    &__px {
        font-family: "Source Sans Pro", sans-serif;
        color:white;
        font-weight: 400;
        font-size: 1.4rem;
    }
}
@media only screen and (max-width: 768px) {
    .carousel-caption {
        font-family: "Source Sans Pro", sans-serif;
        &__p {
            color:white;
            font-weight: 600;
            font-size: 1.8rem;
            text-decoration:none;
            :hover {
                color:white;
                text-shadow: 2px 2px 2px black;
                font-weight: 600;
                font-size: 1.8rem;
            }
        }
        &__px {
            font-family: "Source Sans Pro", sans-serif;
            color:white;
            font-weight: 400;
            font-size: 1.1rem;
        }
    }
}

/*/ Custom Buttons /*/

.btn-primary {
    background-color: #379637;
    border-color: #379637;
    margin-top: 3%;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
        background-color: #297129;
        border-color: #297129;
        margin-top: 3%;
}

/*/ text over image /*/

.textCombo {
    position: relative;
    bottom: 0.3rem;
    left: 50%;
    padding-top: 0.7rem;
    padding-bottom: 0.25rem;
    transform: translate(-50%, -70%);
    color: yellow;
    text-shadow: 0.5px 0.75px 1px black;
    font-weight: 600;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
    &__sub {
        position: relative;
        left: 50%;
        padding-bottom: 0.75rem;
        transform: translate(-50%, -150%);
        color:white;
        text-shadow: 0.5px 0.75px 1px black;
        font-weight: 600;
        font-size: 1.9rem;
        text-decoration: none;
        text-align: center;
    }
    &__precio {
        position: relative;
        left: 50%;
        transform: translate(-50%, -00%);
        color:yellow;
        text-shadow: 1px 1px 2px black;
        font-weight: 800;
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
    }
    &__modalMain {
        position: relative;
        bottom: 1.25rem;
        left: 50%;
        padding-top: 1.5rem;
        padding-bottom: 0.25rem;
        transform: translate(-50%, -70%);
        color: yellow;
        text-shadow: 0.5px 0.75px 1px black;
        font-weight: 600;
        font-size: 1.8rem;
        text-decoration: none;
        text-align: center;
    }
    &__modalSub {
        position: relative;
        left: 50%;
        padding-bottom: 1.75rem;
        transform: translate(-50%, -150%);
        color:white;
        text-shadow: 0.5px 0.75px 1px black;
        font-weight: 600;
        font-size: 1.8rem;
        text-decoration: none;
        text-align: center;
    }
    &__modalFecha {
        position: relative;
        left: 50%;
        transform: translate(-50%, -55%);
        color:white;
        text-shadow: 1px 1px 2px black;
        font-weight: 800;
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
    }
    &__modalMainCombos {
        position: relative;
        bottom: 15.2rem;
        left: 50%;
        transform: translate(-50%, -70%);
        color: yellow;
        text-shadow: 0.5px 0.75px 1px black;
        font-weight: 600;
        font-size: 1.8rem;
        text-decoration: none;
        text-align: center;
    }
    &__modalSubCombos {
        position: relative;
        left: 50%;
        padding-bottom: 10rem;
        transform: translate(-50%, -150%);
        color:white;
        text-shadow: 0.5px 0.75px 1px black;
        font-weight: 600;
        font-size: 1.8rem;
        text-decoration: none;
        text-align: center;
    }
    &__modalFechaCombos {
        position: relative;
        left: 50%;
        transform: translate(-50%, -740%);
        color:white;
        text-shadow: 1px 1px 2px black;
        font-weight: 800;
        font-size: 2rem;
        text-decoration: none;
        text-align: center;
    }  
    &__textDiv {
    font-family: "Source Sans Pro", sans-serif;
    position: absolute;
    right: 15%;
    left: 15%;
    padding-top: 2rem;
    color: #fff;
    text-align: center;
}
&__textModal {
    font-family: "Source Sans Pro", sans-serif;
    position: absolute;
    right: 15%;
    left: 15%;
    padding-top: 2rem;
    color: #fff;
    text-align: center;
    bottom: 1.25rem;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
}
}
        

