/* Transformaciones */

.logoCampoMarket {
    height: 100px;
    width: 100vw;
    transition: 2s;
}

.logoCampoMarket:hover {
    height: 120px;
    width: 100vw;
}

.menuTransicion {
    width: 50px;
    height: 50px;
    transition: height 2s, width 1s;
}

.menuTransicion:hover {
    height: 60px;
    width: 60px;
}

/* Slideshow */

.carousel {
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 2%;
}

.slideSize {
    height: 50vh;
    object-fit: cover;
}

@media only screen and (max-width: 768px) {
    .slideImageTablet img {
        width: auto;
        min-width: 40%;
        height: 40%;
    }
}

@media only screen and (max-width: 320px) {
    .slideImageMobile img {
        width: auto;
        min-width: 15%;
        height: 15%;
    }
}

